.image {
    background-image: url("static\image1.jpeg");
}


.card1 {
    position: fixed;
    left: 0px;
    width: 250px;
    top: 250px;
}

.card2 {
    position: fixed;
    right: 480px;
    width: 300px;
    top: 250px;
}

.card3 {
    position: fixed;
    right: 790px;
    width: 300px;
    top: 250px;
}

.card4 {
    position: fixed;
    right: 1100px;
    width: 350px;
    top: 250px;
}

.card5 {
    position: fixed;
    right: 170px;
    width: 300px;
    top: 250px;
}